## Importing required libraries

In [38]:
# imported all the required libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [39]:
# create a dataframe with given excel file
df1=pd.read_excel(r"C:\Users\gouth\Downloads\Web Scraping Assignment.xlsx")
df1.head()

,",",COLLEGE NAME,WEBSITE,ADRESS
0,1,"Abhinava Bharathi College of Pharmacy, Mandya",NaN,NaN
1,2,"Academy Of Management Studies, Hyderabad",http://www.useams.org/,NaN
2,3,"Academy Of Mass Communication, Lucknow",https://www.amclko.org/,NaN
3,4,Acharaya Shri Chander College Of Medical Scien...,http://ascomscollege.com/,NaN
4,5,"Acharya Institutes of Science & Management, Ba...",https://www.acharya.ac.in/,NaN

## Dropping unnessary columns

In [27]:
# can be drop the adress column
df1.drop("ADRESS", axis=1, inplace=True)

In [40]:
df1 = df1.iloc[ :,1: ]

In [41]:
df1.head()

,COLLEGE NAME,WEBSITE,ADRESS
0,"Abhinava Bharathi College of Pharmacy, Mandya",NaN,NaN
1,"Academy Of Management Studies, Hyderabad",http://www.useams.org/,NaN
2,"Academy Of Mass Communication, Lucknow",https://www.amclko.org/,NaN
3,Acharaya Shri Chander College Of Medical Scien...,http://ascomscollege.com/,NaN
4,"Acharya Institutes of Science & Management, Ba...",https://www.acharya.ac.in/,NaN

In [42]:
# filling null values with empty space

df1.fillna(" ", inplace = True)

In [43]:
df1.head()

,COLLEGE NAME,WEBSITE,ADRESS
0,"Abhinava Bharathi College of Pharmacy, Mandya",,
1,"Academy Of Management Studies, Hyderabad",http://www.useams.org/,
2,"Academy Of Mass Communication, Lucknow",https://www.amclko.org/,
3,Acharaya Shri Chander College Of Medical Scien...,http://ascomscollege.com/,
4,"Acharya Institutes of Science & Management, Ba...",https://www.acharya.ac.in/,

In [44]:
# we can extract the data from a single site given

page= requests.get("http://www.useams.org/")
soup = BeautifulSoup(page.content, "html.parser")

In [45]:
# address of that college is

rep = soup.find('div', id = "biola-address")
print(rep.get_text())

2nd Floor, Manzil Chambers,Mehdipatnam X Roads, HYD500028

In [46]:
# we can copy the url links to another dataframe

URLS = df1.iloc[:,-1]

In [47]:
URLS.head()

0
1
2
3
4
Name: ADRESS, dtype: object

## Extracting the address of colleges from given links

In [50]:
# firstly,create a list called 'addresses'
addresses = []

for url in URLS:
    try:
        # get the HTML content of the page
        if not url.startswith('http'):
            url = 'http://' + url
            
        response = requests.get(url)
        soup = BeautifulSoup(response.content, 'html.parser')
        
            
        # find the address element on the page
        address_element = soup.find('address')
        
        if address_element:
            address = address_element.text.strip()
        else:
            address = ''
            
        addresses.append(address)
        print(f"{url}: Address - {address}")
        
    except requests.exceptions.ConnectionError:
        # handle the ConnectionError exception and skip the URL
        print(f"Unable to access {url}")
        addresses.append('')

Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://
Unable to access http://

In [48]:
# add the list 'addresses' into df1 as column name 'Address'

df1['Address'] = addresses

## Final form of dataset

In [49]:
df1

,COLLEGE NAME,WEBSITE,ADRESS,Address
0,"Abhinava Bharathi College of Pharmacy, Mandya",,,
1,"Academy Of Management Studies, Hyderabad",http://www.useams.org/,,
2,"Academy Of Mass Communication, Lucknow",https://www.amclko.org/,,
3,Acharaya Shri Chander College Of Medical Scien...,http://ascomscollege.com/,,
4,"Acharya Institutes of Science & Management, Ba...",https://www.acharya.ac.in/,,
...,...,...,...,...
495,"Maulana Azad Institute Of Dental Sciences, New...",http://maids.ac.in/,,
496,"Mawlai Presbyterian College, Shillong",http://mawlaipresbyteriancollege.org/,,
497,"Mawsynram Border Area College, Mawsynram",http://www.mawsynramborderareacollege.com/,,
498,"Mayai Lambi College, Imphal",http://www.mayailambicollege.in/,,
499,"MBTS Govt Polytechnic, GUNTUR",,,